<div class="p-5">
  <p *ngIf="myShared.length === 0">You haven't shared anything yet...</p>
  <div class="card mb-5" *ngFor="let content of myShared | dateSort: '-date'">
    <header class="card-header d-flex p-3 align-items-center">
      <img *ngIf="user" [src]="userService.BASE_URL + 'users/images/' + user.thumbnail || 'assets/img/avatar.png'"
           class="thumbnail img-thumbnail rounded-circle m-3" alt="User Thumbnail">
      <h4 class="p-2 m-0">{{ content.username }}</h4>
      <div class="card-subtitle text-right w-100 pr-2">
        <small class="content-info">Posted at: </small>
        <small class="content-time">{{ content.date | date: 'HH:mm,'}}</small>
        <small class="content-date">{{ content.date | date: 'dd/MM/yyyy'}}</small>
      </div>
      <div class="btn-group">
        <i class="fa fa-ellipsis-v fa-2x listIcon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
        <div class="dropdown-menu positionPopup">
          <a class="dropdown-item" (click)="openEdit(content)">Edit</a>
          <a class="dropdown-item" (click)="sharedService.removeMyShared(content.username, content)">Delete</a>
        </div>
      </div>
    </header>
    <div class="card-body">
      <div class="card-text">
        <p *ngIf="!selectedEditContent || (selectedEditContent !== content && isEditMode) || !isEditMode">{{ content.content }}</p>
        <div *ngIf="selectedEditContent === content && isEditMode" class="d-flex md-form">
          <textarea class="form-control col-10" name="" [(ngModel)]="selectedEditContent.content" value="{{ selectedEditContent.content }}"></textarea>
          <div class="pl-2">
            <button class="btn btn-outline-blue" [disabled]="!selectedEditContent.content" (click)="saveEditPost(selectedEditContent)">Save</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <app-info-list [content]="content"></app-info-list>
      <app-comment-container (click)="onSelect(content)" [content]="selectedContent"></app-comment-container>
      <app-comments-list [content]="content"></app-comments-list>
    </div>
  </div>
</div>
